<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Разработка Telegram-ботов</title>
    <meta
      name="description"
      content="Закажите разработку Telegram-ботов под ключ: профессиональное создание чат-ботов для автоматизации бизнеса, маркетинга и продаж. Высокое качество, техническая поддержка и доступные цены!"
    >
    <meta
      name="keywords"
      content="разработка telegram-ботов, создание телеграм-ботов под ключ, telegram боты для бизнеса, заказать telegram-бота, чат-боты на заказ"
    >
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@docryte">
    <meta
      property="og:title"
      content="Разработка Telegram-ботов"
    >
    <meta
      property="og:description"
      content="Профессиональное создание чат-ботов для бизнеса, автоматизация маркетинга и продаж"
    >
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://docryte.site">
    <meta
      property="og:image"
      content="https://docryte.site/static/img/thumbnail-16-9.png"
    >
    <meta name="twitter:card" content="summary_large_image">
    <meta
      name="twitter:title"
      content="Разработка Telegram-ботов"
    >
    <meta
      name="twitter:description"
      content="Профессиональное создание чат-ботов для бизнеса, автоматизация маркетинга и продаж"
    >
    <link rel="canonical" href="https://docryte.site">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link
      rel="icon"
      href="static/img/icon.png"
      sizes="128x128"
      type="image/png"
    >
  </head>
  <body>
    <header>
      <img src="/static/img/Vector.svg" alt="docryte logo">
      <h1>Разработка Telegram-ботов</h1>
    </header>
    <main>
      <div class="block">
        <h2>Почему Telegram?</h2>
        <div class="list">
          <div class="item">
            <h3>82.3 МЛН</h3>
            <p>Количество пользователей Telegram из стран СНГ</p>
          </div>
          <div class="item">
            <h3>
              50 000 -<br>
              - 200 000
            </h3>
            <p>Среднее число пользователей у Telegram-ботов</p>
          </div>
          <div class="item">
            <h3>ШИРОКИЙ СПЕКТР</h3>
            <p>
              От диалогов формата Вопрос-Ответ до полноценных
                            Web-приложений
            </p>
          </div>
        </div>
      </div>
      <div class="block">
        <h2>
          Почему мы?
        </h2>
        <div class="list">
          <div class="item">
            <h3>3 ГОДА ОПЫТА</h3>
            <p>
              Сделано всё: от ChatGPT-ботов до интеграций с
                            крупными CRM-системами
            </p>
          </div>
          <div class="item">
            <h3>24/7</h3>
            <p>
              Даже в пики нагрузки 100% клиентов довольны работой
                            ботов
            </p>
          </div>
          <div class="item">
            <h3>100%-CODE</h3>
            <p>
              Надёжные решения, не зависящие от малопопулярных
                            платформ. Код всегда будет выполнять только то, что
                            должен
            </p>
          </div>
        </div>
      </div>
      <div class="block">
        <h2>Что мы делаем?</h2>
        <div class="list">
          <div class="item">
            <h3>ПРОДАЖИ & МАРКЕТИНГ</h3>
            <p>Разработка Telegram-ботов для повышения продаж</p>
          </div>
          <div class="item">
            <h3>ПОДДЕРЖКА</h3>
            <p>Автоматизация поддержки клиентов через Telegram</p>
          </div>
          <div class="item">
            <h3>РАЗВЛЕЧЕНИЯ</h3>
            <p>Разработка игровых и развлекательных ботов</p>
          </div>
          <div class="item">
            <h3>ИНТЕГРАЦИИ</h3>
            <p>
              От платёжных систем Paymaster, ЮKassa до CRM
                            Bitrix24, 1C, WordPress и юридических систем
                            OrangeData
            </p>
          </div>
          <div class="item">
            <h3>ПОДДЕРЖКА</h3>
            <p>Обновление и доработка уже существующих ботов</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>
        Дизайн и код
        <a href="https://t.me/docryte">@docryte</a>
      </p>
      <p>2025</p>
    </footer>
    <a href="https://t.me/docrytesitebot" id="contact">
      СВЯЗАТЬСЯ
    </a>
  </body>
</html>